<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>공지사항</h2>
<a th:href="@{/notice/create}">
    글쓰기
</a>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice : ${noticeList}">
        <td>
            <a th:href="@{|/notice/${notice.id}|}" th:text="${notice.title}"></a>
        </td>
        <td th:text="${notice.createdAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>