.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: #dadada;
  border-radius: 20px;
}

.dashboardItem {
  background: white;
  border-radius: 15px;
  padding: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.headerContainer h2 {
  margin: 0;
  font-size: 18px;
  color: #242424;
}

.headerContainer span {
  color: #789EDC;
  font-size: 14px;
}

.content {
  margin: 0 5px;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th {
  background-color: #E8EFF9;
  padding: 15px;
  font-weight: normal;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #000;
}

.dataTable td {
  padding: 12px;
  text-align: center;
  color: #242424;
  background-color: #f4f4f4;
  border-bottom: 1px solid #000;
}

.dataTable th:not(:last-child),
.dataTable td:not(:last-child) {
  border-right: 1px solid #000;
}

.dataTable tr:last-child td {
  border-bottom: none;
}

/* 공지사항의 확인 열 스타일 */
.dataTable td.notice-check {
  color: #345fbb;
}

.dashboardItem,
.content,
.dataTable {
  box-shadow: none;
}

.moreLink {
  color: #789EDC;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2px;
}

.moreLink:hover {
  text-decoration: underline;
}