.layoutContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
}

h1 {
  font-weight: 900;
}

/* 전역 스타일은 별도의 파일로 분리하거나 필요한 요소에만 적용 */
