.rtMainPage {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2rem;
}

.mainContent {
  margin: 1.5rem auto 0 auto;
  padding: 2.0rem 2.3rem;
  min-height: 600px;
  min-width: 900px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgb(131, 139, 167) 0px 0px 3px;
  border-radius: 20px;
}

.mainTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 0.7rem;
  align-items: center;
}

.buttonSet{
  display: flex;
  justify-self: end;
  position: absolute;
  right: 0;
}

.buttonSet button {
  width: 4.4rem;
  height: 2.45rem;
  font-size: 0.9rem;
  border-radius: 14px;
  margin: 0;
  padding: 0 ;
  margin-left: 8px;
  color: rgb(255, 248, 249);
  font-weight: 600;
  box-shadow: rgb(133, 138, 152) 0px 1px 3px;
  line-height: 0.5rem;
  text-align: center;
}

.RtTableSection {
  Width: 100%;
  display: flex;
  flex-direction: column; 
  margin: 12px auto;
  align-items: center;
  text-align: center;
  width: 95%;
}



.tableName {
  width: 100%;
  text-align: left;
  padding: 0;
}

.tableName h3 {
  margin-bottom: 5px;
}



.table {
  width: 100%;
  height: 11.5rem;
  padding: 0 6px ;
  font-size: 10px;
  box-shadow: rgb(188, 193, 210) 0px 2px 3px;
  border-radius: 10px;
  overflow-x: scroll;
}

table {
  min-width: 100%;
  width: 100%;
  height: auto;
  border-spacing: 5px 5px; 
  border-collapse: separate;
}



table th{
  font-weight: 600;
  background-color: #bad2f9;
  padding: 8px;
  border-radius: 7px;
  font-size: 12px;
  position: sticky;
  top: 0px;
  height: 10px;
  z-index: 1;
  margin-bottom: 5px ;
}

.chooseProduct {
  width: 20px;
  background-color: white;
}

input[type="checkbox"] {
position: absolute;
top: 19%;
right: 3px;
width: 15px;
height: 15px;

background-color: white;
}


table td {
  height: 10px;
  text-align: center;
  position: relative;
}

tbody {

  height: 100%;
  width: 100%;
}

tr {
  width: 100%;
  position: relative;
}

.noData {
  height: 100%;
  position: absolute;
  left: 39%;
  top: 40px;
  font-size: 30px;
  font-weight: 800;
}

