<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>상품 상세 정보</title>
  <meta name="_csrf" th:content="${_csrf?.token}"/> <!-- CSRF 토큰 -->
  <meta name="_csrf_header" th:content="${_csrf?.headerName}"/> <!-- CSRF 헤더 이름 -->
</head>
<body>
<h1>상품 상세 정보</h1>

<p><strong>상품 ID:</strong> <span th:text="${product.id}"></span></p>
<p><strong>상품명:</strong> <span th:text="${product.prodName}"></span></p>
<p><strong>상품 코드:</strong> <span th:text="${product.prodCode}"></span></p>
<!--<p><strong>카테고리 그룹:</strong> <span th:text="${product.cateGroup}"></span></p>-->
<!--<p><strong>카테고리 코드:</strong> <span th:text="${product.prodCate}"></span></p>-->
<p><strong>카테고리 그룹:</strong>
  <span th:text="${product.cateGroup != null ? product.cateGroup.groupName : '선택된 값 없음'}"></span>
</p>
<p><strong>카테고리 코드:</strong>
  <span th:text="${product.prodCate != null ? product.prodCate.cateCode : '선택된 값 없음'}"></span>
</p>
<p><strong>색상 코드:</strong> <span th:text="${product.colorCode}"></span></p>
<p><strong>사이즈:</strong> <span th:text="${product.size}"></span></p>
<p><strong>입고 가격:</strong> <span th:text="${product.stockPrice}"></span></p>
<p><strong>입고 수량:</strong> <span th:text="${product.quantity}"></span></p>
<p><strong>출고 가격:</strong> <span th:text="${product.sellPrice}"></span></p>
<p><strong>설명:</strong> <span th:text="${product.prodDetail}"></span></p>

<div>
  <a th:href="@{/product/update/{id}(id=${product.id})}"
     sec:authorize="hasRole('ROLE_ADMIN')"
     class="btn btn-primary">수정하기</a>
</div>
<!--<form action="#" th:action="@{/product/delete/{id}(id=${product.id})}" method="get" onsubmit="return confirm('정말 삭제하시겠습니까?');">-->
<!--  <button type="submit">삭제</button>-->
<!--</form>-->
<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post"
      onsubmit="return confirm('정말 삭제하시겠습니까?');">
  <input type="hidden" name="_method" value="delete"/>
  <button type="submit">삭제</button>
</form>



<a href="/product/list">목록으로 돌아가기</a>
</body>
</html>
