<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <style>
        .form-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .form-row label {
            width: 150px;
        }

        .form-row select,
        .form-row input {
            margin-left: 10px;
        }

        .form-row button {
            margin-left: 5px; /* 버튼과 선택창 간의 거리 조정 */
        }
    </style>
</head>
<body>
<h1>상품 등록</h1>

<form action="#" th:action="@{/product/create}" method="post">
    <div class="form-row">
        <label for="prodName">상품명:</label>
        <input type="text" id="prodName" name="prodName" required />
    </div>

    <div class="form-row">
        <label for="prodCode">상품 코드:</label>
        <input type="text" id="prodCode" name="prodCode" required />
    </div>

<!--    <div class="form-row">-->
<!--        <label for="brandCode">브랜드 코드:</label>-->
<!--        <select name="brandCode" id="brandCode" required>-->
<!--            <option value="">브랜드 선택</option>-->
<!--            <option th:each="brand : ${brandList}" th:value="${brand.brandCode}" th:text="${brand.brandCode}"></option>-->
<!--        </select>-->
<!--    </div>-->

    <div class="form-row">
        <label for="categorygroup">카테고리 그룹:</label>
        <select name="categorygroup" id="categorygroup" required>
            <option value="">카테고리 그룹 선택</option>
            <option th:each="categoryGroup : ${categoryGroupList}" th:value="${categoryGroup.groupName}" th:text="${categoryGroup.groupName}"></option>
        </select>
        <button type="button" class="button-row">카테고리코드 등록</button>
    </div>

    <div class="form-row">
        <label for="categoryCode">카테고리 코드:</label>
        <select name="categoryCode" id="categoryCode" required>
            <option value="">카테고리 코드 선택</option>
            <option th:each="category : ${categoryList}" th:value="${category.cateCode}" th:text="${category.cateCode}"></option>
        </select>
    </div>

    <div class="form-row">
        <label for="colorCode">색상 코드:</label>
        <select name="colorCode" id="colorCode" required>
            <option value="">색상 선택</option>
            <option th:each="color : ${colorList}" th:value="${color.colorCode}" th:text="${color.colorCode}"></option>
        </select>
        <button type="button" class="button-row">색상코드 등록</button>
    </div>

    <div class="form-row">
        <label for="size">사이즈:</label>
        <select name="size" id="size" required>
            <option value="">사이즈 선택</option>
            <option th:each="size : ${sizeList}" th:value="${size.size}" th:text="${size.size}"></option>
        </select>
    </div>

    <div class="form-row">
        <label for="stockPrice">입고 가격:</label>
        <input type="number" id="stockPrice" name="stockPrice" required />
    </div>

    <div class="form-row">
        <label for="stockQuantity">입고 수량:</label>
        <input type="number" id="stockQuantity" name="stockQuantity" required />
    </div>

    <div class="form-row">
        <label for="sellPrice">출고 가격:</label>
        <input type="number" id="sellPrice" name="sellPrice" required />
    </div>

    <div class="form-row">
        <label for="prodDetail">상세 설명:</label>
        <input type="text" id="prodDetail" name="prodDetail" required />
    </div>

    <div class="form-row">
        <button type="submit">상품 등록</button>
    </div>
</form>
</body>
</html>
